@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../fonts/fonts.css';

:root {
    --brGreen: #2e444f;
    --brGrey: #4e5859;
    --white: #ffffff;
    --black: #000000;
    --brand-1: #fbf7e9;
    --brand-2: #e9ddc9;
    --brand-3: #e2b394;
    --brand-4: #b5734d;
    --brand-5: #7c4121;
    --brand-6: #f7a037;
    --brand-7: #ea4e25;
    --brand-8: #ffd4cb;
    --brand-9: #1f2a48;
}

body {
    font-family: 'Galano Grotesque';
    color: var(--brand-9);
    font-feature-settings: 'kern', 'liga', 'clig', 'calt';
    font-kerning: normal;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Quincy CF';
}

h1 {
    font-size: 3.052rem;
    font-weight: 700;
    line-height: 1.25;
}

h2,
.h2 h3,
.h3 h4,
.h4 {
    font-weight: 600;
    line-height: 1.25;
}

h2,
.h2 {
    font-size: 2.441rem;
}

h3,
.h3 {
    font-size: 1.953rem;
}

h4,
.h4 {
    font-size: 1.563rem;
}

a {
    text-decoration: none;
}

caption,
.caption {
    line-height: 1.5;
}

.prose h2 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.prose h4 {
    font-size: 1.75rem;
    font-weight: 400;
}
